<?xml version="1.0" encoding="utf-8"?>
<configuration>

    <!-- 控制台输出配置 -->
    <appender name ="console_out" class="ch.qos.logback.core.ConsoleAppender">
        <filter class="ch.qos.logback.classic.filter.LevelFilter">
            <level>INFO</level>
            <onMatch>ACCEPT</onMatch>
            <onMismatch>DENY</onMismatch>
        </filter>
        <encoder>
            <pattern>%d %p (%file:%line\)- %m%n</pattern>
            <charset>UTF-8</charset>
        </encoder>
    </appender>

    <!--  临界值过滤器（ThresholdFilter） -->
    <appender name="info_out" class="ch.qos.logback.core.rolling.RollingFileAppender">

        <file>logs/info.log</file>

        <rollingPolicy class="ch.qos.logback.core.rolling.SizeAndTimeBasedRollingPolicy">
            <!--日志文件输出的文件名 -->
            <FileNamePattern>logs/info.%d{yyyy-MM-dd}.%i.log</FileNamePattern>
            <!--日志文件保留天数 -->
            <MaxHistory>30</MaxHistory>
            <!-- 超过100MB新创建 -->
            <maxFileSize>100MB</maxFileSize>
        </rollingPolicy>

        <encoder class="ch.qos.logback.classic.encoder.PatternLayoutEncoder">
            <!--格式化输出：%d表示日期，%thread表示线程名，%-5level：级别从左显示5个字符宽度%msg：日志消息，%n是换行符 -->
            <pattern>%date %level [%thread] %logger{36} [%file : %line] %msg%n</pattern>
        </encoder>

        <filter class="ch.qos.logback.classic.filter.ThresholdFilter">
            <!-- 过滤掉TRACE和DEBUG级别的日志 大于或者等于info级别 -->
            <level>info</level>
        </filter>

    </appender>

    <!--  级别过滤器（LevelFilter） -->
    <appender name="error_out" class="ch.qos.logback.core.rolling.RollingFileAppender">

        <file>logs/error/error.log</file>

        <!-- 设置滚动策略 -->
        <rollingPolicy class="ch.qos.logback.core.rolling.SizeAndTimeBasedRollingPolicy">
            <!--日志文件输出的文件名 -->
            <FileNamePattern>logs/error/error.%d{yyyy-MM-dd}.%i.log</FileNamePattern>
            <!--日志文件保留天数 -->
            <MaxHistory>30</MaxHistory>
            <!-- 超过100MB新创建 -->
            <maxFileSize>100MB</maxFileSize>
        </rollingPolicy>

        <filter class="ch.qos.logback.classic.filter.LevelFilter">
            <!-- 大于或者等于ERROR级别 -->
            <level>ERROR</level>
            <onMatch>ACCEPT</onMatch>
            <onMismatch>DENY</onMismatch>
        </filter>

        <encoder>
            <pattern>%date %level [%thread] %logger{36} [%file : %line] %msg%n</pattern>
            <charset>UTF-8</charset>
        </encoder>

    </appender>


    <!--  临界值过滤器（ThresholdFilter） -->
    <appender name="user_out" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <File>logs/user.log</File>

        <!-- 设置滚动策略 -->
        <rollingPolicy class="ch.qos.logback.core.rolling.SizeAndTimeBasedRollingPolicy">
            <!--日志文件输出的文件名 -->
            <FileNamePattern>logs/user.%d{yyyy-MM-dd}.%i.log</FileNamePattern>
            <!--日志文件保留天数 -->
            <MaxHistory>30</MaxHistory>
            <!-- 超过100MB新创建 -->
            <maxFileSize>100MB</maxFileSize>
        </rollingPolicy>

        <encoder>
            <pattern>%date %level [%thread] %logger{36} [%file : %line] %msg%n</pattern>
            <charset>UTF-8</charset>
        </encoder>

        <filter class="ch.qos.logback.classic.filter.ThresholdFilter">
            <!-- 过滤掉TRACE级别的日志 大于或者等于debug级别 -->
            <level>debug</level>
        </filter>
    </appender>

    <root level="ALL">
        <appender-ref ref="console_out"/>
        <appender-ref ref="info_out"/>
        <appender-ref ref="error_out"/>
    </root>

    <logger name="com.youxiu326.service.impl.UserServiceImpl" level="debug">
        <appender-ref ref="user_out"/>
    </logger>


</configuration>